{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
{% block head %}

{% endblock %}
<style>
    .chat-panel {
        height: 50vh;
        overflow-y: scroll;
    }
    .message-left {
        background-color: #f8f8f8;
        padding: 10px;
        max-width: 70%;
    }
    .message-right {
        background-color: #0e6dfd;
        color: #fff;
        padding: 10px;
        max-width: 70%;
        margin-left: auto;
    }
</style>
<div class="uk-container">

<div class="uk-grid uk-grid-collapse uk-grid-column-large" uk-grid>
    <div class="uk-width-1-4@m">
        <div class="uk-panel uk-panel-box">
            <h3>Chats</h3>
            <div class="uk-search uk-search-default uk-margin-bottom">
                <span uk-search-icon></span>
                <input class="uk-search-input " type="text" id="searchInput" placeholder="Search..." hx-get="/chat_search" hx-trigger="keyup" hx-target="#sidebar" hx-swap="outerHTML">

            </div>
            <ul id="sidebar" class="uk-nav uk-nav-side uk-margin-top">
                {% for user_id, user_info in online_users.items() %}
                    {% if user_id != current_user.id %}
                        <li>
                            <a href="{{ url_for('chat.room', user_id=user_info['id']) }}" id="{{ user_info['email']|title }}" class="select-room uk-active">
                                <img class="uk-border-circle uk-margin-small-right avatar" src="{{ user_info['icon'] }}" alt="User Avatar">
                                {{ user_info['email']|title }}
                                {% if online_status.get(user_id) %}
                                    <span class="badge badge-success">Online</span>
                                {% endif %}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            
        </div>
    </div>
</div>

</div>


{% endblock %}